{% extends "personal/header.html" %}

{% block content %}

{% load timefilter %}

<h5>Wiedikon to Oerlikon - Next Trains</h5>
<br>
<table>
  <tr>
    <th width=100>Departure</th>
    <th width=80>Delay</th>
    <th width=70>Train</th>
  </tr>

  {% for trip in trips.values %}
    <tbody>
        <tr>
          <td>{{trip.dep|date:"H:i"}}</td>
          <td>{{trip.dep_delay|td_to_minsecs}}</td>
          <td>{{trip.line}}</td>
        </tr>
    </tbody>
  {% endfor %}
</table>

<p>&nbsp;</p>

<h5>Average Delay for Next Train</h5>
<br>
<table>
  <tr>
    <th width=140>Average</th>
    <th width=140>Delay</th>
  </tr>
  <tbody>
      <tr>
        <td>Same week day:</td>
        <td>{{average.avg_day|date:"i:s"}}</td>
      </tr>
      <tr>
        <td>All days:</td>
        <td>{{average.avg_all|date:"i:s"}}</td>
      </tr>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-outline-dark" data-toggle="collapse" data-target="#history">Show previous days</button>

<div id="history" class="collapse">
  <br>
  <table  class="table table-striped">
    <tr>
        <th width=100>Departure</th>
        <th width=80>Delay</th>
        <th width=70>Train</th>
        <th width=200>Date</th>
    </tr>
    {% for item in object_list %}
    <tr>
        <td>{{ item.abfahrtszeit|date:"H:i" }}</td>
        <td>{{ item.ab_delay|secs_to_minsecs }}</td>
        <td>{{ item.linien_text }}</td>
        <td>{{ item.abfahrtszeit|date:"D, d.m.y" }} </td>
    </tr>
    {% endfor %}
  </table>
</div>

<!-- <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> -->

{% endblock %}
