{% extends "personal/header.html" %}

{% block content %}

<h3>Wiedikon to Oerlikon</h3>
<p>&nbsp;</p>
<h5>Next trains</h5>

<table>
  <tr>
    <th width=100>Departure</th>
    <th width=90>Delay</th>
    <th width=70>Train</th>
  </tr>

  {% for trip in trips.values %}
    <tbody>
        <tr>
          <td>{{trip.dep|date:"H:i"}}</td>
          <td>{{trip.dep_delay}}</td>
          <td>{{trip.line}}</td>
        </tr>
    </tbody>
  {% endfor %}
</table>

<p>&nbsp;</p>


<h5>History</h5>

<table>
    <tr>
        <th width=100>Departure</th>
        <th width=90>Delay</th>
        <th width=70>Train</th>
        <th width=100>Date</th>
    </tr>
    {% for item in object_list %}
    <tr>
        <td>{{ item.abfahrtszeit|date:"H:i" }}</td>
        <td>{{ item.ab_delay }}</td>
        <td>{{ item.linien_text }}</td>
        <td>{{ item.abfahrtszeit|date:"d.m.Y" }} </td>
    </tr>
    {% endfor %}
</table>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}
