{% extends "personal/header.html" %}

{% block content %}

<h5>{{exercise.title}}</h5>
<br>

<!-- <video id="VideoElement" width="200" height="160" muted controls src="{{exercise.media_file.url}}"  type="video/mp4">
</video> -->

<video id="video" width="200" height="160" preload="" controls="">
  <source src="https://github.com/MrTolchock/mysite/blob/master/static/theraband1.mp4">
  <object width="200" height="160" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
    <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
    <param name="allowfullscreen" value="true">
    <param name="flashvars" value="config={'clip':{'url':'http://diveintohtml5.info/i/pr6.mp4','autoPlay':false,'autoBuffering':true}}">
    <p>Download video as <a href="{{exercise.media_file.url}}">MP4</a></p>
  </object>
</video>


<br>
<p>{{exercise.text|safe|linebreaks}}</p>
<br>

{% if exercise.in_prog == True %}
  <ul class="pagination pagination-sm">
    <li class="page-item"><a class="page-link text-dark" href="/fitness/{{exercise.prog_prev.order}}">Previous</a></li>
    <li class="page-item"><a class="page-link text-dark" href="/fitness/{{exercise.prog_next.order}}">Next</a></li>
  </ul>

{% elif exercise.in_prog == False %}
<ul class="pagination pagination-sm">
  <li class="page-item"><a class="page-link text-dark" href="/fitness/{{exercise.notprog_prev.order}}">Previous</a></li>
  <li class="page-item"><a class="page-link text-dark" href="/fitness/{{exercise.notprog_next.order}}">Next</a></li>
</ul>
{% endif %}

{% endblock %}
