{% extends "personal/header.html" %}

{% block content %}

<h5>Exercises</h5>

<p><a href="/fitness/prog/{{first.prog_first}}"> Start Programme</a></p>

<br />

<b>Exercises in programme</b>
<table>
  {% for exercise in object_list %}
    {% if exercise.in_prog == True %}
      <tr>
        <td width=40 align=right style="padding-right: 10px">{{ exercise.order }}.</td>
        <td><a href="/fitness/{{ exercise.order }}">{{ exercise.title }}</a></td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
<br />

<b>Exercises not in programme</b>
<table>
  {% for exercise in object_list %}
    {% if exercise.in_prog == False %}
      <tr>
        <td width=40 align=right style="padding-right: 10px">{{ exercise.order }}.</td>
        <td><a href="/fitness/{{ exercise.order }}">{{ exercise.title }}</a></td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> -->

{% endblock %}
