{% extends "personal/header.html" %}

{% block content %}

<h5>Programme</h5>
<br>
<button type="button" class="btn btn-outline-dark" onclick="window.location.href='/fitness/prog/{{first.prog_first}}'">Start Programme</button>

<br><br><br>

<h5>Exercises in Programme</h5>
<div class="list-group">
  {% for exercise in object_list %}
    {% if exercise.in_prog == True %}
      <a href="/fitness/{{ exercise.order }}" class="list-group-item list-group-item-action">{{ exercise.title }}</a>
    {% endif %}
  {% endfor %}
</div>

<br><br>

<h5>Exercises not in Programme</h5>
<div class="list-group">
  {% for exercise in object_list %}
    {% if exercise.in_prog == False %}
      <a href="/fitness/{{ exercise.order }}" class="list-group-item list-group-item-action">{{ exercise.title }}</a>
    {% endif %}
  {% endfor %}
</div>


<!-- <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> -->

{% endblock %}
