{% extends "personal/header.html" %}

{% block content %}

<!--Define Javascript for video-->
<script>
window.onload = function () {
  'use strict';

  var video = document.getElementById("VideoElement");
  var progbar = document.getElementById("ProgBar");

  // Set playback rate
  video.onplay = function(event) {
    video.playbackRate = {{exercise.speed}};
  };

  // Play video after 10s
  var seconds_left = 10;
  document.getElementById('timer_div').innerHTML = "Start in " + seconds_left + " ...";

  var interval = setInterval(function() {
    document.getElementById('timer_div').innerHTML = "Start in " + --seconds_left + " ...";
    if (seconds_left <= 0) {
      document.getElementById('timer_div').innerHTML = "";
      video.play();
      clearInterval(interval);
    }
  }, 1000);

  // Set number of iterations, progress bar and hold time
  var hold_time = {{exercise.hold_position}} * 1000;
  var iterations = {{exercise.repetitions}};
  document.getElementById('iteration').innerText = iterations;

  var progress = {{exercise.prog_pos}};
  var progstep = {{context.prog_all}};
  progbar.style.width = progress + '%';

  video.onended = function() {
    setTimeout(function(){
    if (iterations > 1) {
      //setTimeout(function(){
        video.currentTime = 0;
        video.play();
      //}, hold_time);
      iterations --;
      document.getElementById('iteration').innerText = iterations;

      progress = progress + (1 / progstep) * 100;
      progbar.style.width = progress + '%';

    } else {
      window.location.href = "/fitness/prog/{{exercise.prog_next.order}}";
    }
    }, hold_time);
  };
};
</script>

<!--Define body-->
<div class="progress altbar" style="height: 10px; border-radius: 0px">
  <div class="progress-bar" id="ProgBar" name="progress" ></div>
</div>

<br>
<h5>{{exercise.title}}</h5>
<br>
<table>
  <tbody>
    <tr>
      <td>
        <video id="VideoElement" width="300" height="240" muted playsinline onclick="this.paused ? this.play() : this.pause();" src="https://github.com/MrTolchock/mysite/blob/master{{exercise.media_file.url}}?raw=true"  type="video/mp4">
        </video>
    </td>
      <td align="center" width="200">
        <span id="timer_div"></span><br>
        <span id="iteration" style="font-size:100px"></span><br>
        repetitions left
      </td>
    </tr>
  </tbody>
</table>


<br>
<p>{{exercise.text|safe|linebreaks}}</p>
<br>

<ul class="pagination">
  <li class="page-item"><a class="page-link text-dark" href="/fitness/prog/{{exercise.prog_prev.order}}">Previous</a></li>
  <li class="page-item"><a class="page-link text-dark" href="/fitness/prog/{{exercise.prog_next.order}}">Next</a></li>
</ul>
<!-- <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> -->

{% endblock %}
