{% extends "personal/header.html" %}

{% block content %}

<!--Define Javascript for video-->
<script>
window.onload = function () {
  'use strict';

  var video = document.getElementById("VideoElement");

  // Set playback rate
  video.onplay = function(event) {
    video.playbackRate = {{exercise.speed}};
  };

  // Set number of iterations
  var iterations = {{exercise.repetitions}};
  document.getElementById('iteration').innerText = iterations;

  video.onended = function() {
    if (iterations > 1) {
      this.currentTime = 0;
      this.play();
      iterations --;

      document.getElementById('iteration').innerText = iterations;
    } else {
      window.location.href = "/fitness/prog/{{exercise.prog_next.order}}";
    }
  };
};
</script>

<!--Define body-->
<div class="progress">
  <div class="progress-bar" style="width:70%">70%</div>
</div>

<br>
<h5>{{exercise.title}}</h5>
<br>
<table>
  <tbody>
    <tr>
      <td><video id="VideoElement" width="300" height="240" controls muted playsinline src="https://github.com/MrTolchock/mysite/blob/master{{exercise.media_file.url}}?raw=true"  type="video/mp4">
      </video></td>
      <td align="center" width="200"><span id="iteration" style="font-size:100px"></span><br>repetitions left</td>
    </tr>
  </tbody>
</table>


<br>
<p>{{exercise.text|safe|linebreaks}}</p>
<br>

<ul class="pagination">
  <li class="page-item"><a class="page-link text-dark" href="/fitness/prog/{{exercise.prog_prev.order}}">Previous</a></li>
  <li class="page-item"><a class="page-link text-dark" href="/fitness/prog/{{exercise.prog_next.order}}">Next</a></li>
</ul>

{% endblock %}
